<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  
</head>
<body>
  <div>
    <img src="<%= user.image %>" alt="sdfsdf">
    <%= user.displayName %>
    <% if (user.facebook) {%>
      <img src="<%=user.facebook.image %>" alt="ss">
    <%}%>
    I have <%=user.facebook.friends %> friends
  </div>
  <div>
   <ul>
     <li><a href="/auth/google" class="<%if(user.google){%>googleplus <%}%>"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
     <li><a href="/auth/facebook" class="<%if(user.facebook){%>facebook <%}%>"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
   </ul>
  </div>
</body>
</html>