body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.facebook {
  background-color: red;
  font-size: 30px;
  
}

.googleplus {
  background-color: blue;
  font-size: 30px;
}